main {
    color: white;
    background-color: #1c1c1c;
    h1 {
        text-align: center;
        padding: 50px 0;
    }
    .container {
        position: relative;
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #jumbotron {
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
        height: 400px;
        &.home {
            background-image: url("../images/jumbohome.jpg");
        }
        &.comics {
            background-image: url("../images/jumbocomics.jpg");
        }
        &.comic {
            background-image: url("../images/jumbocomic.jpg");
        }
        &.characters {
            background-image: url("../images/jumbocharacters.png");
        }
        &.collectibles {
            background-image: url("../images/jumbocollectibles.jpg");
        }
        &.fans {
            background-image: url("../images/jumbofans.jpg");
        }
        &.games {
            background-image: url("../images/jumbogames.png");
        }
        &.movies {
            background-image: url("../images/jumbomovies.jpg");
        }
        &.news {
            background-image: url("../images/jumbonews.jpg");
        }
        &.tv {
            background-image: url("../images/jumbotv.jpg");
        }
        &.videos {
            background-image: url("../images/jumbovideos.jpg");
        }
        &.shop {
            background-image: url("../images/jumboshop.jpg");
        }
    }
    .currentSeries {
        width: fit-content;
        padding: 10px;
        font-weight: bold;
        background-color: dodgerblue;
        position: absolute;
        top: -20px;
        left: 0;
        cursor: pointer;
    }
    .load-more {
        width: 200px;
        height: fit-content;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        background-color: dodgerblue;
        cursor: pointer;
    }
    #secondary-nav {
        background-color: dodgerblue;
        ul {
            list-style-type: none;
            display: flex;
            justify-content: space-around;
            li {
                padding: 20px;
                display: flex;
                align-items: center;
                img {
                    width: 50px;
                    height: 60px;
                    margin-right: 20px;
                    color: $secondary_color;
                }
                img.resized {
                    width: 40px;
                }
                a {
                    color: $secondary_color;
                    font-weight: bolder;
                }
            }
        }
    }
    #comics {
        ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            li {
                margin: 20px 5px;
                width: 200px;
            }
            .cards {
                cursor: pointer;
            }
            .card {
                width: 200px;
                height: 200px;
                overflow: hidden;
            }
            p {
                padding: 20px 0;
                color: #fff;
            }
            .comic-series {
                text-transform: uppercase;
            }
        }
    }
    #comic {
        background-color: #fff;
        color: #024165;
        padding-bottom: 100px;
        border-bottom: 2px solid #e6e6e6;
        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .details {
                width: 60%;
                margin-right: 80px;
                .availability {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 10px;
                    margin-bottom: 20px;
                    background-color: #55ba59;
                    color: #fff;
                    border-bottom: 2px solid #3b833f;

                    & > div:nth-child(1) {
                        flex-grow: 1;
                        display: flex;
                        justify-content: space-between;
                        height: 50px;
                        align-items: center;
                        border-right: 2px solid #3b833f;
                    }
                    p {
                        display: inline;
                    }
                    p + p {
                        padding-right: 20px;
                    }
                    .text-op {
                        color: rgba(255, 255, 255, 0.514);
                    }
                    .text-white {
                        color: #fff;
                    }
                    span.text-white {
                        padding: 0 10px 0 15px;
                    }
                }
                h2 {
                    text-transform: uppercase;
                    padding-bottom: 20px;
                }
                p {
                    padding-right: 20px;
                }
                p,
                span {
                    font-weight: bold;
                    color: #686b6f;
                    font-size: 16px;
                }
            }
            .adv {
                text-align: right;
                font-weight: bold;
                color: #686b6f;
                font-size: 14px;
            }
        }
    }
    #comic-info {
        background-color: #f6f6f6;
        height: 400px;
        color: #003f5e;
        .container {
            justify-content: space-around;
        }
        .table > *:nth-child(1n + 1) {
            border-bottom: 1px solid #e6e6e6;
        }
        h2 {
            padding-bottom: 30px;
        }
        .art,
        .written,
        .series,
        .price,
        .sale-date {
            display: flex;
            align-items: center;
            width: 500px;
            & > * {
                padding: 10px 0;
            }
            h6 {
                width: 100px;
            }
            span {
                padding-left: 20px;
            }
        }
    }
}
