footer {
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: $main_color;
    .container {
        .content {
            display: flex;
            .bigger-logo {
                background-image: url("../images/dc-logo-bg.png");
                background-repeat: no-repeat;
                background-position: right center;
                width: 700px;
            }
        }
    }
    a {
        color: $secondary_color;
    }
    #footer-nav {
        display: flex;
        margin: 40px;
        h5 {
            padding: 20px 0;
            font-size: 20px;
        }
        ul {
            list-style-type: none;
            padding-right: 30px;
            li {
                line-height: 20px;
                font-size: 14px;
            }
        }
    }
    #footer-social {
        background-color: #303030;
        padding: 40px 0;
        .container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            a {
                padding: 10px;
                border: 2px solid dodgerblue;
            }
            img {
                padding: 0 10px;
                cursor: pointer;
            }
            .sign-up {
                font-weight: bold;
            }
            .socials {
                display: flex;
                align-items: center;
                h4 {
                    color: dodgerblue;
                    padding-right: 10px;
                    font-size: 20px;
                    cursor: pointer;
                }
            }
        }
    }
}
