* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", "Open Sans", Helvetica, sans-serif;
  background-color: #1c1c1c;
}

#secondary-nav,
footer li {
  font-family: "Segoe UI Light", "Open Sans", Helvetica, sans-serif;
}

header {
  background-color: white;
}
header .additional-dc-sites {
  background-color: dodgerblue;
  width: 100%;
  height: 30px;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .additional-dc-sites p + p {
  margin: 0 20px;
}
header .additional-dc-sites p + p i {
  margin-left: 5px;
  cursor: pointer;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container .logo img {
  width: 80px;
  height: auto;
}
header .container .nav-menu {
  display: flex;
}
header .container .nav-menu i {
  cursor: pointer;
}
header .container .nav-menu i.fa-caret-down {
  color: dodgerblue;
  margin-right: 20px;
  margin-left: -10px;
}
header .container ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}
header .container ul li {
  padding: 60px 0;
  margin-right: 15px;
  border-bottom: 4px solid transparent;
}
header .container ul li a {
  color: #303030;
  font-weight: bold;
}
header .container ul li.active {
  border-bottom: 4px solid dodgerblue;
}
header .container .search-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
header .container .search-container input {
  height: 30px;
  border: none;
  padding-left: 5px;
  padding-bottom: 2px;
  border-bottom: 2px solid dodgerblue;
}
header .container .search-container i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

main {
  color: white;
  background-color: #1c1c1c;
}
main h1 {
  text-align: center;
  padding: 50px 0;
}
main .container {
  position: relative;
  padding: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main #jumbotron {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  height: 400px;
}
main #jumbotron.home {
  background-image: url("../images/jumbohome.jpg");
}
main #jumbotron.comics {
  background-image: url("../images/jumbocomics.jpg");
}
main #jumbotron.comic {
  background-image: url("../images/jumbocomic.jpg");
}
main #jumbotron.characters {
  background-image: url("../images/jumbocharacters.png");
}
main #jumbotron.collectibles {
  background-image: url("../images/jumbocollectibles.jpg");
}
main #jumbotron.fans {
  background-image: url("../images/jumbofans.jpg");
}
main #jumbotron.games {
  background-image: url("../images/jumbogames.png");
}
main #jumbotron.movies {
  background-image: url("../images/jumbomovies.jpg");
}
main #jumbotron.news {
  background-image: url("../images/jumbonews.jpg");
}
main #jumbotron.tv {
  background-image: url("../images/jumbotv.jpg");
}
main #jumbotron.videos {
  background-image: url("../images/jumbovideos.jpg");
}
main #jumbotron.shop {
  background-image: url("../images/jumboshop.jpg");
}
main .currentSeries {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
  background-color: dodgerblue;
  position: absolute;
  top: -20px;
  left: 0;
  cursor: pointer;
}
main .load-more {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  background-color: dodgerblue;
  cursor: pointer;
}
main #secondary-nav {
  background-color: dodgerblue;
}
main #secondary-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}
main #secondary-nav ul li {
  padding: 20px;
  display: flex;
  align-items: center;
}
main #secondary-nav ul li img {
  width: 50px;
  height: 60px;
  margin-right: 20px;
  color: lightgrey;
}
main #secondary-nav ul li img.resized {
  width: 40px;
}
main #secondary-nav ul li a {
  color: lightgrey;
  font-weight: bolder;
}
main #comics ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main #comics ul li {
  margin: 20px 5px;
  width: 200px;
}
main #comics ul .cards {
  cursor: pointer;
}
main #comics ul .card {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
main #comics ul p {
  padding: 20px 0;
  color: #fff;
}
main #comics ul .comic-series {
  text-transform: uppercase;
}
main #comic {
  background-color: #fff;
  color: #024165;
  padding-bottom: 100px;
  border-bottom: 2px solid #e6e6e6;
}
main #comic .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
main #comic .container .details {
  width: 60%;
  margin-right: 80px;
}
main #comic .container .details .availability {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 20px;
  background-color: #55ba59;
  color: #fff;
  border-bottom: 2px solid #3b833f;
}
main #comic .container .details .availability > div:nth-child(1) {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-right: 2px solid #3b833f;
}
main #comic .container .details .availability p {
  display: inline;
}
main #comic .container .details .availability p + p {
  padding-right: 20px;
}
main #comic .container .details .availability .text-op {
  color: rgba(255, 255, 255, 0.514);
}
main #comic .container .details .availability .text-white {
  color: #fff;
}
main #comic .container .details .availability span.text-white {
  padding: 0 10px 0 15px;
}
main #comic .container .details h2 {
  text-transform: uppercase;
  padding-bottom: 20px;
}
main #comic .container .details p {
  padding-right: 20px;
}
main #comic .container .details p,
main #comic .container .details span {
  font-weight: bold;
  color: #686b6f;
  font-size: 16px;
}
main #comic .container .adv {
  text-align: right;
  font-weight: bold;
  color: #686b6f;
  font-size: 14px;
}
main #comic-info {
  background-color: #f6f6f6;
  height: 400px;
  color: #003f5e;
}
main #comic-info .container {
  justify-content: space-around;
}
main #comic-info .table > *:nth-child(1n+1) {
  border-bottom: 1px solid #e6e6e6;
}
main #comic-info h2 {
  padding-bottom: 30px;
}
main #comic-info .art,
main #comic-info .written,
main #comic-info .series,
main #comic-info .price,
main #comic-info .sale-date {
  display: flex;
  align-items: center;
  width: 500px;
}
main #comic-info .art > *,
main #comic-info .written > *,
main #comic-info .series > *,
main #comic-info .price > *,
main #comic-info .sale-date > * {
  padding: 10px 0;
}
main #comic-info .art h6,
main #comic-info .written h6,
main #comic-info .series h6,
main #comic-info .price h6,
main #comic-info .sale-date h6 {
  width: 100px;
}
main #comic-info .art span,
main #comic-info .written span,
main #comic-info .series span,
main #comic-info .price span,
main #comic-info .sale-date span {
  padding-left: 20px;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
}
footer .container .content {
  display: flex;
  height: 500px;
}
footer .container .content .bigger-logo {
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: right center;
  width: 700px;
}
footer a {
  color: lightgrey;
}
footer #footer-nav {
  display: flex;
  margin: 40px;
  position: relative;
}
footer #footer-nav h5 {
  padding: 20px 0;
  font-size: 20px;
}
footer #footer-nav ul {
  list-style-type: none;
  padding-right: 30px;
}
footer #footer-nav ul li {
  line-height: 20px;
  font-size: 14px;
}
footer #footer-nav .rights {
  width: 600px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
}
footer #footer-nav .rights a {
  color: dodgerblue;
}
footer #footer-social {
  background-color: #303030;
  padding: 40px 0;
}
footer #footer-social .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #footer-social .container a {
  padding: 10px;
  border: 2px solid dodgerblue;
}
footer #footer-social .container img {
  padding: 0 10px;
  cursor: pointer;
}
footer #footer-social .container .sign-up {
  font-weight: bold;
}
footer #footer-social .container .socials {
  display: flex;
  align-items: center;
}
footer #footer-social .container .socials h4 {
  color: dodgerblue;
  padding-right: 10px;
  font-size: 20px;
  cursor: pointer;
}